In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
book_url="https://books.toscrape.com/"
response = requests.get(book_url)
url_contents = response.text
doc = BeautifulSoup(url_contents,'html.parser')

response.status_code

200

In [9]:
#Getting all books 
bookdetails = doc.findAll(
    "li", {"class": "col-xs-6 col-sm-4 col-md-3 col-lg-3"})
booktitles = []
bookprices = []
bookratings=[]
for book in bookdetails:
    booktitle = doc.find_all('h3')
    bookprice = doc.find_all('p',{'class','price_color'})
    bookrating = doc.find_all('p' , {'class':'star-rating One'})
    for rating in bookrating:
        rating = doc.find_all('li')
        #bookratings.append(len(rating)) // need fixing count the number of li per  and save to list
    for title in booktitle:
        booktitles.append(title.text.strip())
    for price in bookprice:
        bookprices.append(price.text.strip().replace("Â£",""))

In [14]:
books_dict = {
    'Book Title':booktitles,
    'Price':bookprices
}

In [15]:
book_df = pd.DataFrame(books_dict)

In [16]:
book_df

                          Book Title  Price
0                 A Light in the ...  51.77
1                 Tipping the Velvet  53.74
2                         Soumission  50.10
3                      Sharp Objects  47.82
4       Sapiens: A Brief History ...  54.23
..                               ...    ...
395            Our Band Could Be ...  57.25
396                             Olio  23.88
397  Mesaerion: The Best Science ...  37.59
398     Libertarianism for Beginners  51.33
399          It's Only the Himalayas  45.17

[400 rows x 2 columns]